body {
  font-family: sans-serif;
}

input {
  border-radius: 16px;
  border: none;
  margin-right: 10px;
  padding: 6px 16px;
  outline: none;
}

button {
  border-radius: 16px;
  border: none;
  padding: 4px 16px;
}

button:hover {
  background-color: #ff7fff;
  color: #fff;
  cursor: pointer;
}

button:disabled {
  background-image: none;
  background-color: #ccc;
  border-color: #ccc;
  color: #ddd;
  pointer-events: none;
}

.title {
  margin-top: 0;
  text-align: center;
  font-weight: bold;
  color: #666;
}

.todo-list li {
  margin-right: 8px;
  padding-bottom: 4px;
}

.todo-list li span {
  margin-right: 10px;
}
